html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100vw;
    background: #D64200;
}

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: max(2.5vw, 32px);
    font-weight: 700;
    color: #fff;
    padding: 80px 0;
}

h2::after {
    content: url("../imgs/fox.png");
    position: absolute;
    right: 80px;
    top: 5px;
}

.content {
    width: 80vw;
    margin: 30px auto;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.email {
    grid-column: span 2;
}

.input, .income__select {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #B8B6BF;
    padding: 10px 0;
    text-indent: 10px;
    font-weight: 400;
}

.label {
    display: grid;
    gap: 10px;
    font-weight: 700;
    text-indent: 30px;
    color: #D64200;
}

.password input {
    border: 1px solid #009745;
}

.password input::placeholder {
    color: #009745;
}


.confirmPassword input {
    border: 1px solid #EB5757;
}

.confirmPassword input::placeholder {
    color: #EB5757;
}

.gender {
    display: grid;
    grid-template-areas: 
        'radio__title radio__title'
        'male female';
    gap: 10px;
    padding: 0 30px;
}

.radio {
    position: relative;
}
.checkbox {
    position: relative;
}

.male {
    grid-area: male;
}

.female {
    grid-area: female;
}

.radio__title {
    font-weight: 700;
    color: #D64200;
    grid-area: radio__title;
}

.radio__input, .checkbox__input {
    appearance: none;
    position: absolute;
}

.radio__label, .checkbox__label {
    padding-left: 36px;
    cursor: pointer;
}

.radio__label:before, .checkbox__label:before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
}

.radio__label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #D64200;
    border: 1px solid #D64200;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: -1px;
    left: 4px;
    z-index: 2;
    transition: opacity .3s linear;
}

.checkbox__label:after {
    content: url(../imgs/checkmark-circle.png);
    max-width: 25px;
    max-height: 25px;
    opacity: 0;
    position: absolute;
    top: -4.5px;
    left: 1px;
    z-index: 2;
    transition: opacity .3s linear;
}

.radio__input:checked + .radio__label:before {
    background-color: #EB5757;
}

.checkbox__input:checked + .checkbox__label:before {
    background-color: rgb(247, 186, 186);
}

.radio__input:checked + .radio__label:after, .checkbox__input:checked + .checkbox__label:after {
    opacity: 1;
}

.hobbies {
    display: grid;
    grid-template-areas: 
        'checkbox__title checkbox__title checkbox__title checkbox__title'
        'music sport travel movies';
    gap: 10px;
    padding: 10px 20px;    
}

.checkbox__title {
    font-weight: 700;
    color: #D64200;
    grid-area: checkbox__title;
}

.music {
    display: flex;
    grid-area:music;
}

.sport {
    display: flex;
    grid-area:sport;
}

.travel {
    display: flex;
    grid-area:travel;
}

.movies {
    display: flex;
    grid-area:movies;
}

.income {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'income__title income__title'
        'income__select income__select';
    gap: 10px;
}

.income__title {
    font-weight: 700;
    color: #D64200;
    text-indent: 30px;
    grid-area: income__title;
}

.income__select {
    color: #000;
    grid-area: income__select;
}

.range {
    display: grid;
    grid-template-areas: 
        'range__title range__title'
        'range__value range__value';
    gap: 10px;
    padding-left: 30px;
}

.range__title {
    font-weight: 700;
    color: #D64200;
    grid-area: range__title;
}

.range__value {
    width: 100%;
    display: flex;
    grid-area: range__value;
}

.range__input {
    width: 100%;
    -webkit-appearance: none;
}

.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #B8B6BF;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -15px;
}

.range__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #fff 0%, #fff 40%, #EB5757 40%, #EB5757 100%);
    border-radius: 25px;
    border: 1px solid #B8B6BF;
}

.range__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
    background-color: #D64200;
}

.profile{
    display: grid;
    grid-template-areas: 
        'profile__title profile__title'
        'profile__file profile__noFile';
    gap: 10px;
}
.profile__file {
    height: 50px;
    grid-area: profile__file;
    position: relative;
}

.profile__noFile {
    margin: auto 0;
    grid-area: profile__noFile;
}

.profile__file input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.profile__file::before {
    content: "Upload File";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #77767E;
    color: #fff;
    border-radius: 10px;
}

.profile__file:hover::before {
    background-color: darkgray;
}

.profile__title {
    text-indent: 30px;
    font-weight: 700;
    color: #D64200;
    grid-area: profile__title;
}

.age input {
    text-indent: 30px;
}

.age input::placeholder {
    text-indent: 30px;
}

textarea {
    width: auto;
    height: 150px;
	padding: 12px 20px;
	border-radius: 10px;
    resize: none;
    grid-column: span 2; 
}

.create__button {
    width: 100%;
    grid-column: span 2; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    width: 320px;
    height: 60px;
    color: #fff;
    font-weight: 700;
    border: 1px solid #B8B6BF;
    border-radius: 10px;
    background-color: #D64200;
    right: 0;
    margin-bottom: 80px;
    cursor: pointer; 
}

.button:hover {
    background-color: #f48259;
}

@media (max-width:1040px) {
    .hobbies {
        display: grid;
        grid-template-areas:
            'checkbox__title checkbox__title'
            'music sport '
            'travel movies';
        gap: 20px;
    }
    h2::after {
        display: none;
    }
}

@media (max-width:637px) {
    body {
        font-size: 14px;
    }
    .gender {
        grid-template-areas:
            'radio__title'
            'male'
            'female';
    }

    .label, .income__title, .profile__title  {
        text-indent: 0;
    }
    
    .firstName, .lastName, .password, .confirmPassword, .gender, .hobbies, .income, .range, .profile, .age {
        grid-column: span 2;
    }

    .range {
        padding-left: 0;
    }

    .gender {
        grid-template-areas:
            'radio__title radio__title'
            'male female';
        padding: 0;
    }

    .hobbies {
        grid-template-areas:
            'checkbox__title checkbox__title checkbox__title checkbox__title'
            'music sport travel movies';
        padding: 0;
    }
    
    .button {
        width: 100%;
    }
}

@media (max-width:478px) {
    .hobbies {
        display: grid;
        grid-template-areas:
            'checkbox__title checkbox__title'
            'music sport '
            'travel movies';
    }
}