html, body {
    height: 100%;
    background-color: #F8F8F8;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
}
.container {
    display: flex;
    min-height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #D64200;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    list-style: none;
}

.navbar li {
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.nav_link {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    color: #fff;
    padding: 10px 0;
}

.nav_link:hover {
    background-color: #FFB69F4D;
}

h1, .nav_title {
    display: flex;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    padding-top: 20px;
}

.nav_title {
    background-color: #D64200;
    display: none;
    padding: 20px;
}

h2 {
    font-weight: 700;
    margin: 20px 0;
}

main {
    margin: 10px 60px 30px 20px;
}

main ul {
    margin: 0;
    padding-left: 20px;
}

span {
    background-color: #C8C4C5;
}

.link {
    display: flex;
    padding: 20px;
    margin: 10px 0;
    background-color: #C8C4C5;
}

.pridi {
    font-family: 'Pridi', serif;   
}

#nav-toggle {
    display: none;
}

@media(max-width:568px) {
    .container {
        flex-direction: column;
    }

    .navbar {
        display: none;
    }
    

    h1 {
        width: 100%;
        padding-top: 0;
    }

    .nav_title {
        display: flex;
    }

    .nav-burger {
        display: flex; 
        align-items: center;
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        right: 20px;
        top: 20px;
        z-index: 2;
    }

    .nav-burger span {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #fff;
        transform: rotate(45deg);
    }

    .nav-burger span::before {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 2px;
        top: -8px;
        right: -8px;
        background-color: #fff;
        transform: rotate(90deg);
    }

    #nav-toggle:checked ~ .nav-burger span {
        transform: rotate(225deg);
        right: 10px;
    }
    
    figure {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        order: 3;
    }
    #nav-toggle:checked ~ .navbar {
        display: flex;
        flex-direction: column;
    }

    #nav-toggle:checked ~ .nav_title {
        display: none;
    }
    
}