html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);  
    grid-template-areas:
      'header'
      'main'
      'footer';
      grid-area: container; 
}

.header { 
    grid-area: header; 
    background-color: #EA5E32;
}

.main { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  
    grid-template-areas:
      'aside__one content aside__two'
      'aside__one content aside__two'
      'aside__one content aside__two';
    margin: 20px 0;
    grid-area: main; 
}

.content {
    grid-area: content;
    padding: 0 30px;
}

.content p {
    font-size: 24px;
    font-weight: 400;
}

.aside__one {
    grid-area: aside__one; 
    border-radius: 0 20px 20px 0;
}

.aside__two {
    grid-area: aside__two; 
    border-radius: 20px 0 0 20px;
}

.footer{ 
    grid-area: footer; 
    background-color: #A82800;
}

.header, .footer {
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
}

aside {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 20px;
    background-color: #FFB40A;
}

@media (max-width: 800px) {
    .container { 
        gap: 0;
    }

    .main { 
        grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto); 
        grid-template-areas:
        'aside__one aside__one  aside__one '
        'content content content'
        'aside__two aside__two aside__two'; 
        margin: 0;
        }

    .content {
        padding: 20px;
    }
    
    .aside__one {
        border-radius: 0 0 20px 20px;
    }
    
    .aside__two {
        border-radius: 20px 20px 0 0;
    }

    aside {
        justify-content: start;
    }

}