html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 40px;
    font-weight:700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px 0;
}

header {
    background-color: #EA5E32;
}

footer {
    background-color: #A82800;
}

main {
    flex: 3;
}

.content {
    display: flex;
    margin: 20px 0;
}

.content__text {
    display: flex;
    flex-direction: column;
    width: 46vw;
    gap: 20px;
    padding: 0 20px;
}

.content__text p {
    font-size: 24px;
    font-weight: 400;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27vw;
    background-color: #FFB40A;
    padding: 10px 20px;
}

.aside__one {
    border-radius: 0 20px 20px 0;
}

.aside__two {
    border-radius: 20px 0 0 20px;
}

@media (max-width: 800px) {

    .content {
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        margin: 0;
    }

    .content__text {
        width:auto;
    }

    aside {
        width:auto;
        justify-content: flex-start;
    }

    .aside__one {
        border-radius: 0 0 20px 20px ;
    }

    .aside__two {
        border-radius: 20px 20px 0 0;
    }
}